[submodule "app/src/main/java/com/sryang/addreview/di/repository"]
	path = app/src/main/java/com/sryang/addreview/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "app/src/main/java/com/sryang/addreview/di/addreview_di"]
	path = app/src/main/java/com/sryang/addreview/di/addreview_di
	url = https://github.com/sarang628/addreview_di.git
[submodule "app/src/main/java/com/sarang/torang/di/repository"]
	path = app/src/main/java/com/sarang/torang/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "app/src/main/java/com/sarang/torang/di/addreview_di"]
	path = app/src/main/java/com/sarang/torang/di/addreview_di
	url = https://github.com/sarang628/addreview_di
[submodule "app/src/main/java/com/sarang/torang/di/torangcomposepack"]
	path = app/src/main/java/com/sarang/torang/di/torangcomposepack
	url = https://github.com/sarang628/torangcomposepack.git
[submodule "gradle/TorangToml"]
	path = gradle/TorangToml
	url = https://github.com/sarang628/TorangToml.git
[submodule "app/src/main/java/com/sarang/torang/di/Instagramgallery_di"]
	path = app/src/main/java/com/sarang/torang/di/Instagramgallery_di
	url = https://github.com/sarang628/Instagramgallery_di.git
[submodule "app/src/main/java/com/sarang/torang/di/torang_network_di"]
	path = app/src/main/java/com/sarang/torang/di/torang_network_di
	url = https://github.com/sarang628/torang_network_di.git
[submodule "app/src/main/java/com/sarang/torang/di/torang_database_di"]
	path = app/src/main/java/com/sarang/torang/di/torang_database_di
	url = https://github.com/sarang628/torang_database_di.git
[submodule "app/src/main/java/com/sarang/torang/di/torang_security_di"]
	path = app/src/main/java/com/sarang/torang/di/torang_security_di
	url = https://github.com/sarang628/torang_security_di.git
